/* Global styles for the entire website */
body {
	background-color: #f0f0f0;
	/* Set the overall background color */
	font-family: 'Arial', sans-serif;
	/* Choose an appropriate font */
}

/* Grid container styling */
.grid-container {
	margin: 20px;
}

/* Row styling within the grid */
.grid-row {
	display: flex;
}

/* Tiles component styling */
.tiles {
	width: 100px;
	height: 100px;
	background-color: rgb(19, 127, 181);
	/* Set the background color for tiles */
	margin: 5px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	border: 5px solid rgb(2, 2, 6);
}

.board {
	width: auto;
	/* Adjust the width and height as needed */
	height: auto;
	/* Add a border for visibility */
	position: absolute;
	/* Position the board relative to the container */
	top: 50%;
	/* Center the board vertically */
	left: 50%;
	/* Center the board horizontally */
	transform: translate(-50%, -50%);
	/* Center the board precisely */
}

.board-container {
	position: relative;
}

/* Optional: Add styling for hover effect or other interactions */
/* //* THIS IS USED TO ENABLE HIGHLIGHTING OF TILES VIA MOUSE CURSOR */
.tiles:hover {
	background-color: rgb(22, 50, 212);
	cursor: pointer;
}

/* Row component styling */
.row {
	clear: both;
	display: flex;
}

/* Optional: Add styling for hover effect or other interactions for rows */
.row:hover {
	background-color: #ddd;
	/* Adjust hover background color as needed */
}