/* Global styles for the entire website */
body {
	/* PRIMARY BACKGROUND COLOR  */
	background: linear-gradient(to right, #ffcc00, #ff6699);
	font-family: 'Arial', sans-serif;
	/* Choose an appropriate font */
}

/* Grid container styling */
.grid-container {
	margin: 20px;
}

/* Row styling within the grid */
.grid-row {
	display: flex;
}

/* Tiles component styling */
.tiles {
	width: 100px;
	height: 100px;
	background-color: rgb(19, 127, 181);
	/* Set the background color for tiles */
	margin: 5px;
	display: inline-block;
	text-align: center;
	line-height: 100px;

}

.board {
	width: auto;
	/* Adjust the width and height as needed */
	height: auto;
	/* Add a border for visibility */
	position: absolute;
	/* Position the board relative to the container */
	top: 50%;
	/* Center the board vertically */
	left: 50%;
	/* Center the board horizontally */
	transform: translate(-50%, -50%);
	/* Center the board precisely */
}

.board-container {
	position: relative;
}

/* //* THIS IS USED TO ENABLE HIGHLIGHTING OF TILES VIA MOUSE CURSOR */
.tiles:hover {
	/* cursor: pointer; */
	border: 3px solid black;
	box-sizing: border-box;
	/* makes sure that upon highlighting the cell box size doesn't change */
}

/* Row component styling */
.row {
	clear: both;
	display: flex;
}


/* Background Ideas gradient colorflow using pastel colors  */
/* Grid wise make it transparent so the gradient colorflow passes through */